@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #FAF3E0;
  --foreground: #171717;
  --primary: #213448;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
}

.dark {
  --background: #111827; /* Dark blue-gray background */
  --foreground: #f9fafb; /* Very light gray foreground */
  --primary: #94a3b8;    /* Lighter blue-gray for headers in dark mode */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

h1, 
h2 {
  font-family: var(--font-poppins);
}

h3 {
  font-family: var(--font-poppins);
}

html {
  scroll-behavior: smooth;
}





